<div class="container">
<div class="mb-4 display-4 text-center">Hello welcome to my website</div>
  <div class="row">
    <div class="col-5 ">
      <%= image_tag 'profile.jpg', width:300, alt: "profile image" %>
    </div>

    <div class="col-7 text-left text-light pt-3 bg-info ">
      <p>
        Hey 
        I want to let you know you’re one of the first email subscribers to Blogging and can I say a BIG WARM thank you.

        I hope you’ve found all the information valuable? I have a tonne of great portfolio tips I’ll be sharing with you soon.

        Seeing your one of my first subscribers, would it be too much trouble if I asked you to be one of my first testimonials also?

        That would mean you’d have to write 1-2 sentences about how my blog has helped you and I’d share it on my website.

        If that’s OK, please kindly let me know. Otherwise, thanks again for subscribing.

        Have a great day!
          <h3 class="mt-4">Bhavesh Mishra</h3>
      </p>
    </div>
  </div>
</div>