<div class="container">
  <div class="row">
    <div class="col-6">
       <div class="h4">Would you like to connect with us ?</div>
       <hr>
       <h3>Office Address</h3>
       <p>8A Nitai Nagar Mukundapur, Kolkata-700099</p>
       <h3>Phone</h3>
       <p><%= number_to_phone "123456789" %></p>
       <h3>Email</h3>
        <a href="mailto:mishra.bhavesh@outlook.com?subject="Blogging Contact" "email" class="btn btn-info btn-lg">email</a>
    </div>
    <div class="col-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.296155001739!2d88.40369031529971!3d22.493069085223812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0273e0a6326d99%3A0x46c06747cd081528!2sSai%20Baba%20Mandir!5e0!3m2!1sen!2sin!4v1585438923043!5m2!1sen!2sin" width="450" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>    </div>
    </div>
  </div>  
</div>
